body {
background-color: #007F00;

}
.topHeader {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
  color: #FF0000;
}

.name{
  text-align: center;
  color: #FF0000;

}

.size{
  text-align: center;
  color: #FF0000;
  margin-top: 30px;

}

.toppings{
  text-align: center;
  color: #FF0000;
  margin-top: 30px;

}

.button{
  text-align: center;
  margin-top: 30px;
}
